{% extends "navbar/navbar.html" %}

{% block content %}
<div class="container">	
	<div class="row">
		<div class="col">
			<h1>My Meetups</h1>
			<div class="list-group" id="app">
        {% for meetup in meetups %}
        <a class="list-group-item list-group-item-action" data-start-time="{{ meetup.start_time }}" data-end-time="{{ meetup.end_time }}" data-mentor-name="{{ meetup.mentor.name }}" id="meetup-{{ meetup.id }}" @click="changeMeetup({{ meetup.id }})">Meetup with {{ meetup.mentor.name }}</a>
        {% endfor %}
			</div>
		</div>

		<div class="col jumbotron" id="meetup-big" style="display: none;">
			<h1 id="meetup-big-title">Meetup with MENTORNAME</h1>
			<p id="meetup-big-start-time"></p>
			<p id="meetup-big-end-time">End Time:</p>
		</div>

    <script>
     var app = new Vue({
         el: "#app",
         methods: {
             changeMeetup: function(meetup_id) {


                 startTime = document.getElementById("meetup-" + meetup_id).getAttribute("data-start-time")
                 endTime = document.getElementById("meetup-" + meetup_id).getAttribute("data-end-time")
                 mentorName = document.getElementById("meetup-" + meetup_id).getAttribute("data-mentor-name")

                 $("#meetup-big-title").html("Meetup with " + mentorName)
                 $("#meetup-big-start-time").html("Start Time: " + startTime)
                 $("#meetup-big-end-time").html("End Time: " + endTime)

                 $("#meetup-big").show()

             }
         }



     })
    </script>
    {% endblock %}
